extends layout

block navbar
    nav.navbar-default  
        ul
          div.leftfrontpage
            li 
              a(href='/')
                img(src="./images/studentBudgetLogo2.png", alt="Good Pic", id="logo")
          div.rightfrontpage 
            li
              a.el Log in
            li 
              a.el Sign up
            li 
              a.el Help
            li
              a.el Settings

block content
  html
    link(rel='stylesheet', href='/stylesheets/frontpage.css')
    div.all
      div.row
          div.filler
          div.column
            h1  Welcome to #{websiteName} 
            div.mainText
              p This service is designed to assist students in managing their finances effectively by providing tools to track their budgets
            button.btn(onclick="goToOverview()") Log in
            button.btn(onclick="goToOverview()") Sign Up
          div.column2
            // Picture
            img.img(src="./images/studentBudgetLogo2.png", alt="Good Pic")

    script(src='/javascripts/frontpage.js')



