extends layout

block navbar
    html 
    link(rel='stylesheet', href='/stylesheets/restrictednavbar.css')
    nav.navbar-default  
        ul
          div.leftrestricted
            li 
              a(href='/')
                img(src="./images/studieLogoHjoerneHvid.png", alt="Good Pic", id="logo")
          div.rightrestricted
            li
              a.el(href='/logIn') Log In
            li 
              a.el(href='/signUp') Sign Up
            li

block content
  html
    link(rel='stylesheet', href='/stylesheets/frontpage.css')
    div.all
      div.row
          div.filler
          div.column
            h1  Welcome to #{websiteName} 
            div.mainText
              p This service is designed to assist students in managing their finances effectively by providing tools to track their budgets
            button.btn(onclick="goToLogIn()") Log In
            button.btn(onclick="goToSignUp()") Sign Up
          div.column2
            // Picture
            img.img(src="./images/studentBudgetLogo2.png", alt="Good Pic")

    script(src='/javascripts/frontpage.js')