extends layout

block content
  html 
  link(rel='stylesheet', href='/stylesheets/helpSite.css')

  main
    h1 du fandt mig
    div.all
        div.topRow
            div.intro 
                p Velkommen til hjælpesiden, her har du mulighed for at se en bruger manual, en video, og nedenfor er der FAQ. Skulle dette ikke løse dine problemer er du velkommen til at skrive en mail til: <strong>ITsupportStudentBudget@help.com</strong>
        
        div.middleRow
            div.pdfColumn 
                p Her skal der stå en tekst og et link til en user manual 
        
            div.videoColumn 
                p her skal der være en video med en tutorial 

        div.bottomRow 
            p FAQ
            div.q1
                p1 How do I start using the site?
                p2 - First you need to create an Account. When you have done that We encourage you to watch our tutorial video above, Here a standart bugdet is being set up from scratch.
            div.q2
                p1 How do i recover my password?
                p2 - At the moment the only way to recover your account if you forgot your password is to contact our support team on mail: ITsupportStudentBudget@help.com

