extends layout

block content
  html 
  link(rel='stylesheet', href='/stylesheets/helpSite.css')

  main
    div.all
        h1 Help Page


        div.topRow
            div.intro 
                p Welcome to the help page, here you have the opportunity to view a user manual, a video, and below there is a FAQ. If this does not solve your problems, you are welcome to send an email to: <strong>ITsupportStudentBudget@help.com</strong>
        
        div.middleRow
            div.pdfColumn 
                p Her skal der stå en tekst og et link til en user manual 
        
            div.videoColumn 
                p(style='font-weight: bold;') Video guide
                .video-container
                    iframe(width='100%', height='60%', src='https://www.youtube.com/embed/C61cY9cCnt4', title='student budget', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', referrerpolicy='strict-origin-when-cross-origin', allowfullscreen='')
                    script(src="overviewScripts.js", defer)

        div.bottomRow 
            p FAQ
            div.q1
                p1 How do I start using the site?
                p2 - First you need to create an Account. When you have done that We encourage you to watch our tutorial video above, Here a standart bugdet is being set up from scratch.
            div.q2
                p1 How do i recover my password?
                p2 - At the moment the only way to recover your account if you forgot your password is to contact our support team on mail: ITsupportStudentBudget@help.com


