doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    // Add icon on browser window
    link(rel="icon" type="image/x-icon" href="/images/studieLogoHjoerneHvid.ico")
  
  // Navbar block //
  body
    block navbar 
      nav.navbar-default  
        ul
          div.boxleft
            li 
              a(href='/')
                img#logo(src="./images/studieLogoHjoerneHvid.png", alt="Good Pic")
            li
              a.el(href='/overview') Overview
            li
              a.el(href='/financialTips') Financial Tips
            li
          div.right           
            li 
              if username
                a.el-u Welcome, #{username}
              else
                a.el(href='logIn') Log in
            li
              a.el(href='/help') Help
            li
              a.el(href='/settings') Settings
  
  // Block for content specified in other views //
  main 
    block content
  
  // Footer block for showing the contact information and other stuff //
  footer
    block footer
      .footer
        p(style="font-weight: bold; font-size: 18px") Contact us at
        p.contact E-mail: mail@mail.com
        p.contact Phone: +45 12345678
        p.contact Address: Aalborgvej 50
        p.contact Social Media: @StudieBudget