doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
  
  // Navbar block //
  body
    block navbar 
      nav.navbar-default  
        ul
          div.boxleft
            li 
              a(href='/')
                img#logo(src="./images/studieLogoHjoerneHvid.png", alt="Good Pic")
            li
              a.el(href='/overview') Overview
            li
              a.el(href='/financialTips') Financial Tips
            li
              a.el Options 3
            li
              a.el Options 4
          div.right           
            li 
              if username
                a.el Welcome, #{username}
              else
                a.el Log in
            li
              a.el Help 
            li
              a.el Settings
  
  // Block for content specified in other views //
  main 
    block content
  
  // Footer block for showing the contact information and other stuff //
  footer
    block footer
      .footer
        p(style="font-weight: bold; font-size: 18px") Contact us at
        p.contact E-mail: mail@mail.com
        p.contact Phone: 42069420
        p.contact Address: Aalborgvej 50
        p.contact Website: www.studiebudget.com
        p.contact Social Media: @website
        p.contact Other: idk
