doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    block navbar 
      nav.navbar-default  
        ul
          li 
            a(href='/')
              img(src="./images/studentBudgetLogo.png", alt="Good Pic", id="logo")
          li
            a.el(href='/') Overview
          li
            a.el(href='/users') Financial Tips
          li
            a.el Options 3
          li
            a.el cum
          li
            a.el drakes 8====D
          div.right 
            li 
              a.el log ind
            li
              a.el help 
    main 
      block content