doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    block navbar 
      nav.navbar-default  
        ul
          li 
            a(href='/')
              img(src="./images/studentBudgetLogo.png", alt="Good Pic", id="logo")
          li
            a.el(href='/overview') Overview
          li
            a.el(href='/users') Financial Tips
          li
            a.el Options 3
          li
            a.el drakes 8====D
          div.right           
            li 
              a.el Log ind
            li
              a.el Help 
            li
              a.el Settings
  main 
    block content
      // footer for showing the contact information and other stuff
  footer
    block footer
      .footer
        p(style="font-weight: bold; font-size: 18px") Contact us at
        p.contact E-mail: drake@peepee.org
        p.contact Phone: 42069420
        p.contact Address: Your Moms House
        p.contact Website: www.urmom.milf
        p.contact Social Media: @urmomsonlyfans
        p.contact Other: idk
