extends layout

block navbar
    html 
    link(rel='stylesheet', href='/stylesheets/restrictednavbar.css')
    nav.navbar-default  
        ul
          div.leftrestricted
            li 
              a(href='/')
                img(src="./images/studieLogoHjoerneHvid.png", alt="Good Pic", id="logo")
          div.rightrestricted
            li
              a.el(href='/login') Log In
            li 
              a.el(href='/signUp') Sign Up
            li

block content
  html 
  link(rel='stylesheet', href='/stylesheets/logIn.css')
  //link(rel='stylesheet', href='/stylesheets/layout.css')
  div.centerColum
    h1 Log into your account
    if error
        div.alert
          | #{error}
    p
    form(action="/login" method="POST")
        div.username
            label(for="username") Enter username:
            input(type="text" id="username" name="username" required)
        div.password
            label(for="password") Enter password:
            input(type="password" id="password" name="password" required)
        div.logInButton 
            input(type="submit" value="Log in")
        div.dontHaveAccount
            button.btn(type="button" onclick="goToSignUp()") Don't have an account? 
    script(src='/javascripts/frontpage.js')
  //script.
      const bigError = document.querySelector('.bob');
      // Function to create and show an alert
      function showAlert(message) {
          // Display the message using the alert function
          alert(message);
      }

      // Example usage
      if (bigError.textContent) {
        showAlert(bigError.textContent);
      };