extends layout

block content
  html 
  link(rel='stylesheet', href='/stylesheets/overview.css')

  // div for popup activated by the popup button //
  div.popup-container-fixed
    div.popup-box-fixed
      h3 Edit income / expenses 
      p Please enter your income and expenses
      p Use . for decimals
      p Add income: 
        input.income-fixed
      p Add expense: 
        input.expense-fixed
      div.buttons
        button.close-btn-fixed CLOSE
        button.save-btn-fixed SAVE
  
  div.popup-container-income
    div.popup-box-income
      h3 Input a custom income
      p Use . for decimals
      p Add category: 
        input.category-income
      p Add name: 
        input.name-income
      p Add value
        input.value-income
      div.buttons
        button.close-btn-income CLOSE
        button.save-btn-income SAVE

  div.popup-container-expense
    div.popup-box-expense
      h3 Input a custom expense
      p Use . for decimals
      p Add category: 
        input.category-expense
      p Add name: 
        input.name-expense
      p Add value
        input.value-expense
      div.buttons
        button.close-btn-expense CLOSE
        button.save-btn-expense SAVE
  
  dialog().dialog
    h3 Create category
    p Enter the name of the category: 
      input.category-name
    p Enter a goal: 
      input.category-goal
      
    div.buttons
      button.close-btn-category CLOSE 
      button.save-btn-category SAVE
    
  main
    div.all
      h1= title
      div.row
        div.column 
          h2 Primary budget overview
          div.pie-line
            div.pie.animate(style="--w: 300px")
              p.total Total Amount: 0
              p.spent Spent: 0
              p.left Available: 0
          div
          button.show-popup-fixed Add income/expenses
        div.column
          div.categories
            h2 Categories
            div.pie-line
              div.pie.animate(style="--w: 100px") 
                p 0
            div.pie-line
              div.pie.animate(style="--w: 100px") 
                p 5
            div.pie-line
              div.pie.animate(style="--w: 100px") 
                p 7
            div.pie-line
              div.pie.animate(style="--w: 100px")
                p 3
            div.pie-line
              div.pie.animate(style="--w: 100px")
                p 0
            button.add-circle +
          div.names
            div.circle
              
             
        div.column
          h2 Add custom
          button.show-popup-income Add custom income
          button.show-popup-expense Add custom expense
      div.tips
        h2 Financial Advice
  script(src="/javascripts/overviewScripts.js")

