extends layout

block content
  html 
  link(rel='stylesheet', href='/stylesheets/overview.css')
  div.popup-container
      div.popup-box
        h3 Edit income / expenses 
        p Please enter your income and expenses
        p Use . for decimals
        p Add income: 
          input.income
        p Add expense: 
          input.expense
        div.buttons
          button.close-btn CLOSE
          button.save-btn SAVE
  body
    h1= title
    div.row
      div.column 
        h2 Primary budget overview
        div.pie-line(style="--b:15px;")
          div.pie.animate(style="--p:60;--b:15px;--c:purple;")
            p Total Amount: #{totalAmount}
            p Spent: #{spentAmount}
            p Available: #{leftAmount}
        div
        button.show-popup Add income/expenses
      div.column
        h2 Categories
      div.column
        h2 Add custom
    div.tips
      h2 Financial Advice
  script(src="/javascripts/overviewScripts.js")
