extends layout

block content
  html 
  link(rel='stylesheet', href='/stylesheets/overview.css')

  // div for popup activated by the popup button //
  div.popup-container-fixed
    div.popup-box-fixed
      h3 Edit income / expenses 
      p Use . for decimals
      p Edit fixed monthly income: 
        input.income-fixed
      p Edit fixed monthly expense: 
        input.expense-fixed
      p Edit monthly saving goal
        input.savings-fixed
      div.buttons
        button.close-btn-fixed CLOSE
        button.save-btn-fixed SAVE
  
  div.popup-container-income
    div.popup-box-income
      h3 Enter an income
      p Use . for decimals
      //p Add category: 
        select.dropdown-income
      p Add name: 
        input.name-income
      p Add value:
        input.value-income
      div.buttons
        button.close-btn-income CLOSE
        button.save-btn-income SAVE

  div.popup-container-expense
    div.popup-box-expense
      h3 Enter an expense
      p Use . for decimals
      p Choose category: 
        select.dropdown-expense
      p Add name: 
        input.name-expense
      p Add value
        input.value-expense
      div.buttons
        button.close-btn-expense CLOSE
        button.save-btn-expense SAVE
  
  div.month-navigation
    button#prevMonth(data-text="←") 
    span#currentMonth
    button#nextMonth(data-text="→")

  dialog().add-category-dialog
    h3 Create category
    p Enter category: 
      input.category-name
    p Enter limit: 
      input.category-goal
    p Choose color: 
      input.category-color(type="color")
    div.buttons
      button.close-btn-category CLOSE 
      button.save-btn-category SAVE

  dialog().edit-category-dialog
    h3 Edit category
    p Choose category: 
      select.dropdown-edit
      button.delete-btn-category-edit Delete
    p Edit name
      input.name-edit(style="float: right")
    p Edit limit
      input.goal-edit(style="float: right")
    div.buttons
      button.close-btn-category-edit CLOSE 
      button.save-btn-category-edit SAVE
  
  dialog().edit-history
    h3 Edit history
    p Edit name
      input.name-edit-history(style="float: right")
    p Edit value
      input.value-edit-history(style="float: right")
    div.buttons
      button.close-btn-history-edit CLOSE 
      button.save-btn-history-edit SAVE
    
  button.show-calendar-popup Show Calendar
  div.popup-container-calendar
  
  
  main
    div.all
      h1= title
      div.row
        div.column 
          h2 Primary budget overview
          div.pie-line
            div.pie.animate(style="--w: 300px")
              p.total 
              p.spent 
              p.left 
              p.savings
          div
          button.show-popup-fixed Edit fixed income and expenses
        div.column
          h2 Categories
          div.categories
            button.add-circle(style="margin-bottom: 7%;") +
          button.show-edit-categories Edit
             
        div.column
          h2 Custom expense history
          div.history
            table.styled-table
          button.show-popup-income Add custom income
          button.show-popup-expense Add custom expense
      div.tips
        h2 Financial Advice
  script.
    let username = "#{username}";
  script(src="/javascripts/overviewScripts.js")

