extends layout

block content
  html 
  link(rel='stylesheet', href='/stylesheets/overview.css')
  div.popup-container
      div.popup-box
        h3 Edit income / expenses 
        p Please enter your income and expenses
        p Add income: 
          input
        p Add expense: 
          input
        button.close-btn CLOSE
  body
    h1= title
    div.row
      div.column 
        h2 Primary budget overview
        p Total Amount: #{totalAmount}
        p Spent: #{spentAmount}
        p Available: #{leftAmount}
        button.show-popup Click Me!
      div.column
        h2 Categories
      div.column
        h2 Add custom
    div.tips
      h2 Financial Advice
  script(src="/javascripts/overviewScripts.js")
