extends layout

block navbar
    html 
    link(rel='stylesheet', href='/stylesheets/restrictednavbar.css')
    nav.navbar-default  
        ul
          div.leftrestricted
            li 
              a(href='/')
                img(src="./images/studieLogoHjoerneHvid.png", alt="Good Pic", id="logo")
          div.rightrestricted
            li
              a.el(href='/logIn') Log in
            li 
              a.el(href='/signUp') Sign up
            li

block content
  html 
    link(rel='stylesheet', href='/stylesheets/signUp.css')
    div.centerColum
      h1 Create a new account:
      form(action="/signup" method="POST" onsubmit="return MatchingPasswords(document.getElementById('password').value, document.getElementById('passwordCheck').value)")
        div.username
          label(for="username") Enter username:
          input(type="text" id="username" name="username" required)
        div.password
          label(for="password") Enter password:
          input(type="password" id="password" name="password" required)
        div.passwordCheck
          label(for="passwordCheck") Enter password again:
          input(type="password" id="passwordCheck" name="passwordCheck" required)
        div.creatAccount
          input(type="submit" value="Create Account")
        div.alreadyAccount 
          button.btn(type="button" onclick="goToLogIn()") Already have an account?
    //- script(src='/javasctipts/frontpage.js')
    script.
        let alertMessage = !{JSON.stringify(alert)};
        if (alertMessage) {
          alert(alertMessage);
        }
    script(src='/javascripts/frontpage.js')
    script(src='/javascripts/logIn.js') // Ensure this is the correct path to your updated JS file
