.all {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 3%
}

.filler {
  width: 15%;
}

.column {
  width: 30%;
}

.column2 {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  text-align: left;
  display: flex;
  align-items: center;
}

.mainText {
  width: 70%;
}

.btn{
  font-size: 24px;
  padding: 15px 30px;
  margin-right: 2%;
}




