main {
  margin-left: 250px;
  margin-right: 150px;
  margin-top: 30px;
}

.column {
  width: 50%;
}

.column2 {
  float: center;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  text-align: left;
  display: flex;
}

.mainText {
  width: 70%;
}

.img {
  width: 50%;
  position: static;
}

.btn{
  font-size: 24px;
  padding: 15px 30px;
  margin-right: 2%;
}

.leftfrontpage {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.rightfrontpage {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}




