.all {
    margin-left: 4%;
    margin-right: 4%;
}

p {
    font-size: large;
}

.topRow {
    text-align: center;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.intro {
    max-width: 50%;
}

.middleRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.pdfColumn {
    width: 48%;              /* Adjusted to accommodate for spacing */
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;  /* Make the column layout vertical */
    align-items: center;     /* Center items horizontally */
}

.videoColumn {
    width: 48%;              /* Adjusted to accommodate for spacing */
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;  /* Make the column layout vertical */
    align-items: center;     /* Center items horizontally */
}

.bottomRow {
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;     /* Center elements both vertical and horizontal */
    flex-direction: column;  /* Stack the elementes in a column */
}


.bottomRow p1 {
    color: #585858;
    /* Adjusted color for a lighter gray */
    font-weight: bold;
    /* Making the text bold */
}

.bottomRow p2 {
    margin-top: 2px;
    color: #585858;
    /* Adjusted color for a lighter gray */

}

.q1, .q2, .q3, .q4{
    width: 48%;
    max-width: 48%;
    margin-bottom: 1%;
}


.video-container {
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 539px;
    max-height: 270.5px;
    margin: 0 auto;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}