body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 1; /* Grow to take up remaining space, pushing the footer to the bottom */
}

.navbar-default ul{
  list-style-type: none;
  background-color: grey;
  overflow: hidden;
}
.navbar-default a{
  color: yellow;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

.navbar-default .el:hover{
  color: lightgoldenrodyellow;
  background-color: black;
}

.navbar-default li{
  float: left;
}

.navbar-default .right{
  float: right;
} 

.navbar-default #logo {
  position: absolute;
  top:0.2%; 
  left:0.1%;
  width:5%;
  height:auto;
  overflow:hidden;
}

footer {
  background-color: #F8F8F8; 
  padding: 0px;
  margin-bottom: -150px;
  text-align: center;
}

.footer {
  max-width: 800px;
  margin: auto;
}

.footer p {
  margin-bottom: 10px;
  color: rgb(113, 113, 113);
  text-decoration: none;
}
