html {
  height: 100%;
}
body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that your body takes up at least the viewport height */
}
main{
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 1; /* This will make the main content grow and push the footer to the bottom */
}

.navbar-default ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #333; /* Darker shade for a sleek look */
  overflow: hidden;
  height: 50px;
  margin: 0%;
  padding-right: 4%;
}

.navbar-default a{
  color: #f2f2f2; /* Light color for contrast */
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.navbar-default .el:hover{
  color: #fff; /* Bright white for text */
  background-color: #555; /* Slightly lighter shade for background */
  cursor: pointer;
}

.navbar-default li{
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.navbar-default li:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-default .boxleft {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: auto;
}

.navbar-default .right{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
} 

.navbar-default #logo {
  position: relative;
  width: 30px;
  height: auto;
  overflow: hidden;
  float: left;
}

footer {
  background-color: #F8F8F8; 
  padding: 0px;
  margin-bottom: -150px;
  text-align: center;
}

.footer {
  max-width: 800px;
  margin: auto;
}

.footer p {
  margin-bottom: 10px;
  color: rgb(113, 113, 113);
  text-decoration: none;
}
