.all {
  margin-left: 4%;
  margin-right: 4%;
}

p {
  font-size: large;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  text-align: center;
}

.tips {
  text-align: center;
}

/*////////////*/
/* PIE CHARTS */
/*////////////*/

:root {
  --b: 15px; /* Adjust as needed */
  --p: 0; /* Adjust as needed */
  --c: #0000ff; /* Adjust as needed */
}

/* Adjust sizes and positions for smaller screens */
@media screen and (max-width: 768px) {
  :root {
    --b: 8%; /* Adjust as needed */
    --p: 40%; /* Adjust as needed */
  }
}

.pie {
  width: var(--w);
  position: static;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(100% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: calc(50% - var(--b)/2);
  background: rgb(0, 0, 56);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(16.5% - var(--w)/2));
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@keyframes p{
  from{--p:0}
}
.animate {
  animation: p 0.75s .5s both;
}

.pie-line{
  width: var(--w);
  min-width: fit-content;
  max-width: fit-content;
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie-line:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(lightgrey 0deg, lightgrey 360deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(100% - var(--b)), #000 calc(100% - var(--b)));
}

.add-circle {
  width: 110px;
  position: static;
  display: inline-grid;
  margin: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: rgb(210, 210, 210);
  place-content: center;
  font-size: 25px;
  cursor: pointer;
}

.add-circle:hover {
  background-color: rgb(194, 193, 193);
}

/*////////////////*/
/* POPUP CSS CODE */
/*////////////////*/

/*///////*/
/* FIXED */
/*///////*/

.show-popup-fixed {
  border-radius: 5px;
  cursor: pointer;
  margin: 5%;
  font-family: sans-serif;
  background-color: #0000ff;
  color: white;
  width: auto;
  height: 50px;
  transition: background-color 0.3s ease;
  border: none;
}

.show-popup-fixed:hover {
  background-color: #0c20b5;
}

.popup-container-fixed {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.popup-container-fixed.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}

.popup-container-fixed .popup-box-fixed {
  width: 500px;
  background: white;
  border-radius: 6px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transform: scale(0);
  padding: 30px;
}

.popup-container-fixed.active .popup-box-fixed{
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
  
}

.popup-box-fixed .close-btn-fixed {
  width: 45%;
  height: 40px;
  background: rgb(193, 200, 203);
  border-radius: 6px; 
  border: none;
  outline: none;
  margin-right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.popup-box-fixed .save-btn-fixed {
  width: 45%;
  height: 40px;
  background: lightblue;
  border-radius: 6px; 
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.popup-box-fixed .buttons-fixed{
  text-align: center
}

.popup-box-fixed input{
  float: right;
}

/*///////////////*/
/* CUSTOM INCOME */
/*///////////////*/

.show-popup-income {
  border-radius: 5px;
  cursor: pointer;
  margin: 5%;
  background-color: rgb(57, 149, 85);
  color: white;
  width: auto;
  height: 50px;
  transition: background-color 0.3s ease;
  border: none;
}

.show-popup-income:hover {
  background-color: rgb(26, 126, 56); 
}

.popup-container-income {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.popup-container-income.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}

.popup-container-income .popup-box-income {
  width: 500px;
  background: white;
  border-radius: 6px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transform: scale(0);
  padding: 30px;
}

.popup-container-income.active .popup-box-income{
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
  
}

.popup-box-income .close-btn-income {
  width: 45%;
  height: 40px;
  background: rgb(193, 200, 203);
  border-radius: 6px; 
  border: none;
  outline: none;
  margin-right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.popup-box-income .save-btn-income {
  width: 45%;
  height: 40px;
  background: lightblue;
  border-radius: 6px; 
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.popup-box-income .buttons-income{
  text-align: center
}

.popup-box-income input{
  float: right;
}

/*///////////////*/
/* CUSTOM EXPENSE*/
/*?//////////////*/

.show-popup-expense {
  border-radius: 5px;
  cursor: pointer;
  margin: 5%;
  background-color: rgb(229, 50, 14);
  color: white;
  width: auto;
  height: 50px;
  transition: background-color 0.3s ease;
  border: none;
}

.show-popup-expense:hover {
  background-color: rgb(203, 34, 34); 
}


.popup-container-expense {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.popup-container-expense.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}

.popup-container-expense .popup-box-expense {
  width: 500px;
  background: white;
  border-radius: 6px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transform: scale(0);
  padding: 30px;
}

.popup-container-expense.active .popup-box-expense{
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
  
}

.popup-box-expense .close-btn-expense {
  width: 45%;
  height: 40px;
  background: rgb(193, 200, 203);
  border-radius: 6px; 
  border: none;
  outline: none;
  margin-right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.popup-box-expense .save-btn-expense {
  width: 45%;
  height: 40px;
  background: lightblue;
  border-radius: 6px; 
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.popup-box-expense .buttons-expense{
  text-align: center
}

.popup-box-expense input{
  float: right;
}

.popup-box-expense .dropdown-expense{
  float: right;
}

/*////////////*/
/* CATEGORIES */
/*////////////*/

dialog {
  border: none;
  border-radius: 6px;
}

dialog .category-name{
 float: right;
}

dialog .category-goal{
  float: right;
}

dialog .category-color{
  float: right;
}

.close-btn-category {
  width: 45%;
  height: 40px;
  background: rgb(193, 200, 203);
  border-radius: 6px; 
  border: none;
  outline: none;
  margin-right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.save-btn-category {
  width: 45%;
  height: 40px;
  background: lightblue;
  border-radius: 6px; 
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer; 
}

.category-text {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: center;
}

/*///////////////*/
/* History Table */
/*///////////////*/

.history {
  width: fit-content;
  height: 320px;
  position: relative;
  /* background-color: gray; */
  display: block;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin: auto;
}


/*::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Make scrollbar invisible */
/*}*/


.styled-table {
  width: fit-content;
  max-width: 90%;
  border-collapse: collapse;
  display: block;
  justify-content: center;
  border-spacing: 0;
  margin-top: 0;  /* Adjust potential margins that could affect the placement */
  padding-top: 0; /* Adjust potential padding that could affect the placement */
  text-align: left;
}

.styled-table th, .styled-table td {
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 1px;
  text-align: left;
  vertical-align: middle;
}

.styled-table th {
  background-color: #f2f2f2;
}

.styled-table tr {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  width: 375px;
}
.styled-table td:nth-child(even) {
  text-align: right;
}
.styled-table td:nth-child(odd) {
  text-align: left;
}

.styled-table tr:nth-child(4n) {
  background-color: #f2f2f2; /* or any other shade of gray you prefer */
  border-top: none;
}
.styled-table tr:nth-child(4n-1) {
  background-color: #f2f2f2; /* or any other shade of gray you prefer */
  font-weight: bold; /* Gør teksten fed */
  border-bottom: none;
}
.styled-table tr:nth-child(4n-2) {
  border-top: none;
}
.styled-table tr:nth-child(4n-3) {
  font-weight: bold; /* Gør teksten fed */
  border-bottom: none;
}

.styled-table tr:nth-child(4n-1) + tr:nth-child(4n-2) {
  /* Tilføj mindre afstand mellem de to rækker */
  border-spacing: 0px -5px; /* Juster denne værdi efter behov */
}

.editHistory{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5%;
  font-family: sans-serif;
  background-color: grey;
  color: white;
  width: auto;
  /* height: 50px; */
  transition: background-color 0.3s ease;
}

.historyBtns {
  display: flex;
  justify-content: flex-end;
}
